@page "/servers"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
<h3>Servers</h3>
<br/>
<br/>

<CityListComponent
    @ref="cityListComponent"
    @rendermode="InteractiveServer"
    SelectCityCallback="HandleCitySelection">
</CityListComponent>
<br/>
<SearchBarComponent
    @ref="searchBarComponent"
    ServerSearchCallback="HandleServerSearch"
    style="width:200px">
</SearchBarComponent>
<br/>
<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent
        @rendermode="InteractiveServer"
        CityName="@selectedCity"
        SearchFilter="@searchFilter">
    </ServerListComponent>
</CascadingValue>
<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>



@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        searchFilter = string.Empty;
    }

    private void HandleServerSearch(string searchFilter)
    {
        this.searchFilter = searchFilter;
        cityListComponent?.ClearSelection();
    }

}